In [9]:
import pandas as pd

In [10]:
df_pe = pd.read_csv("C:\\Users\\Utilisateur\\Documents\\Prepa_Diplome\\Projet_CO\\DB_pco\\10k_offres.csv")
df_nantes_metro = pd.read_csv("C:\\Users\\Utilisateur\\Documents\\Prepa_Diplome\\Projet_CO\\DB_pco\\nantes_metropole.csv")

# Agrégation des dataframes offres d'emploi

In [11]:
df_pe.head()

   ofe_cd_offre                                 ofe_lb_description
0       9995227  Embarquez avec Start People...\nCDI, CDD ou In...
1       3843951  Solide entreprise coopérative attachée à son t...
2       7265400  Notre client, entreprise nationale dynamique e...
3       8195910  Samsic emploi Saint-brieuc recrute de nouveaux...
4       9511726  CRIT est à la recherche d'un Technicien de mai...

In [12]:
df_nantes_metro.head()

,web-scraper-order,web-scraper-start-url,titre_poste,url,url-href,ref_offre,intitule_poste,descri_mission,profil
0,1720689334-1,https://emploi.metropole.nantes.fr/offre-de-em...,Agent d'Accueil et d'Entretien Piscines H/F,Agent d'Accueil et d'Entretien Piscines H/F,https://emploi.metropole.nantes.fr/offre-de-em...,Réf. : 2023-7113,Agent d'Accueil et d'Entretien Piscines H/F,"Au sein des piscines de la Ville de Nantes, vo...",Maîtriser les techniques de nettoyage Connaîtr...
1,1720689334-136,https://emploi.metropole.nantes.fr/offre-de-em...,Chargé d'accompagnement des entreprises via le...,Chargé d'accompagnement des entreprises via le...,https://emploi.metropole.nantes.fr/offre-de-em...,Réf. : 2024-9820,Chargé d'accompagnement des entreprises via le...,Dans le cadre de la mise en œuvre du dispositi...,Connaissances du cadre juridique de l’achat so...
2,1720689354-2,https://emploi.metropole.nantes.fr/offre-de-em...,Chauffeur PL,Chauffeur PL,https://emploi.metropole.nantes.fr/offre-de-em...,Réf. : 2023-6885,Chauffeur PL,"Rattaché·e à l'encadrant, vous intervenez en t...",Doté·e d'un sens du relationnel et du travail ...
3,1720689354-137,https://emploi.metropole.nantes.fr/offre-de-em...,Responsable de proximité Maintenance Générale H/F,Responsable de proximité Maintenance Générale H/F,https://emploi.metropole.nantes.fr/offre-de-em...,Réf. : 2024-10180,Responsable de proximité Maintenance Générale H/F,Assurer la gestion de l’activité de maintenanc...,Maîtrise connaissance des bâtiments tous corps...
4,1720689374-138,https://emploi.metropole.nantes.fr/offre-de-em...,Maîtres nageurs sauveteurs SAISON ETE 2024 H/F,Maîtres nageurs sauveteurs SAISON ETE 2024 H/F,https://emploi.metropole.nantes.fr/offre-de-em...,Réf. : 2024-9299,Maîtres nageurs sauveteurs SAISON ETE 2024 H/F,"Dans le cadre de la saison été 2024, de début...",Connaissances :\n▪ Titulaire d’un titre de MNS...

In [13]:
df_nantes_metro = df_nantes_metro[['ref_offre', 'descri_mission']]

In [14]:
df_nantes_metro

            ref_offre                                     descri_mission
0    Réf. : 2023-7113  Au sein des piscines de la Ville de Nantes, vo...
1    Réf. : 2024-9820  Dans le cadre de la mise en œuvre du dispositi...
2    Réf. : 2023-6885  Rattaché·e à l'encadrant, vous intervenez en t...
3   Réf. : 2024-10180  Assurer la gestion de l’activité de maintenanc...
4    Réf. : 2024-9299  Dans le cadre de la saison été 2024,  de début...
..                ...                                                ...
74   Réf. : 2024-9069  La Ville de Nantes et Nantes Métropole recrute...
75  Réf. : 2024-10295  Rattaché·e à la Responsable de la Cellule de g...
76  Réf. : 2024-10184  Vous assurez des tâches d’exploitation des rés...
77  Réf. : 2024-10306  En tant qu'Infirmier·ière Coordinateur·rice vo...
78  Réf. : 2024-10290  Au sein de la cellule de gestion et reportant ...

[79 rows x 2 columns]

In [15]:
df_pe.columns = df_nantes_metro.columns

# Concaténation des deux DataFrames
df_concat = pd.concat([df_pe, df_nantes_metro], axis=0)
df_concat

            ref_offre                                     descri_mission
0             9995227  Embarquez avec Start People...\nCDI, CDD ou In...
1             3843951  Solide entreprise coopérative attachée à son t...
2             7265400  Notre client, entreprise nationale dynamique e...
3             8195910  Samsic emploi Saint-brieuc recrute de nouveaux...
4             9511726  CRIT est à la recherche d'un Technicien de mai...
..                ...                                                ...
74   Réf. : 2024-9069  La Ville de Nantes et Nantes Métropole recrute...
75  Réf. : 2024-10295  Rattaché·e à la Responsable de la Cellule de g...
76  Réf. : 2024-10184  Vous assurez des tâches d’exploitation des rés...
77  Réf. : 2024-10306  En tant qu'Infirmier·ière Coordinateur·rice vo...
78  Réf. : 2024-10290  Au sein de la cellule de gestion et reportant ...

[10079 rows x 2 columns]

In [16]:
df_concat.isna().sum()

ref_offre         0
descri_mission    0
dtype: int64

# Importation du dataframe dans la base SQL "db_pco"

In [17]:
from sqlalchemy import create_engine

username = 'postgres'
password = 'postgre'
host = 'localhost'
port = '5432'      
database = 'db_pco'

# URI de connexion
connection_string = f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}"

# Objet engine SQLAlchemy : gère la connexion automatiquement (pas besoin de la fermer)
engine = create_engine(connection_string)

# Try / Except pour s'assurer 
try:
    df_concat.to_sql('offres_emploi', engine, if_exists='replace', index=False)
    print("Les données ont été importées avec succès dans PostgreSQL.")
except Exception as e:
    print(f"Erreur lors de l'importation des données : {e}")

Les données ont été importées avec succès dans PostgreSQL.